* {
	border: 0;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

.canvas-container {
	height: 100%;
	position: absolute;
	width: 100%;
}

canvas#z-ide {
	display: block;
	width: 100%;
	height: 100%;
}
