html, body {
	background: lightgray;
	height: 100%
}

.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

.shadow {
	box-shadow: 5px 7px 4px 4px #aaa;
}
